@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
        <div class="col-md-6 my-5">
            <h2 class="display-4">Bem-vindo ao <span class=" text-primary">CakeDay</span><br />:D</h2>
            <p class="lead">Plataforma para cadastrar aqueles aniversariantes que você sempre esquece ;)</p>
            <a class="btn btn-primary my-2 rounded-pill btn-lg" href="/Contacts" role="button">Comece aqui</a>
        </div>
        <div class="col-md-6 d-none d-md-block" style="background: url(https://i.ibb.co/BVHrkxG/undraw-outdoor-party-oqh3.png) no-repeat center center / contain;
        min-height: 300px;"></div>
    </div>
</div>